
* {
    margin: 0;
    padding: 0;
  }
  .blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/pictures/IMG_5874.JPG);
    background-size: cover;
    background-position: center center;
    filter: blur(3px);
    opacity: 0.9; 
    z-index: -1; 
  }

body {
    color:#FEFEDF ; 
  }

  /* Footer */
.social-media-links .inline-link {
    display: inline-block;
    margin: 10px;
}